@font-face {
  font-family: 'iconfont';  /* project id 838306 */
  src: url('//at.alicdn.com/t/font_838306_ywhla6zryj.eot');
  src: url('//at.alicdn.com/t/font_838306_ywhla6zryj.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_838306_ywhla6zryj.woff') format('woff'),
  url('//at.alicdn.com/t/font_838306_ywhla6zryj.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_838306_ywhla6zryj.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size:inherit;
	line-height: 1;
}

.icon-up:before { content: "\e689"; }

.icon-right:before { content: "\e68a"; }

.icon-down:before { content: "\e68b"; }

.icon-left:before { content: "\e68c"; }

